<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="index.css">
    <title>BLueMarket</title>
</head>

<body>

    <div class="header">
        <div class="container">
            <!-- Navabar -->
            <div class="navbar">
                <div class="logo">
                    <a href="index.html"><img src="/App/Images/Logo.png" alt="pics" width="125px"></a>
                </div>
                <nav>
                    <ul id="MenuItems">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="product.html">Product</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Content</a></li>
                        <li><a href="account.html">Account</a></li>
                    </ul>
                </nav>
                <a href="cart.html"><img src="/App/Images/cart2.png" width="30px" height="30px" alt="pics"></a>
                <img src="/App/Images/menu2.png" class="menu-icon" alt="pics" onclick=menuToggle()>
            </div>

            <div class="row">
                <div class="col-2">
                    <h1>Give Yourself <br> a Great New Design</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In repellat voluptatibus harum accusamus
                        earum
                        fugiat. Lorem <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. In repellat
                        voluptatibus
                        harum accusamus earum fugiat.</p>
                    <a href="" class="btn">Explore now &#8594;</a>
                </div>
                <div class="col-2">
                    <img src="/App/Images/wallpaper2.jpg" alt="">
                </div>
            </div>
        </div>
    </div>

    <!-- featured categories -->

    <div class="catergories">
        <div class="small-container">

            <div class="row">
                <div class="col-3">
                    <div class="card">
                        <div class="sneaker">
                            <div class="circle"></div>
                            <img src="/App/Images/adidas5.png" alt="">
                        </div>
                        <div class="info">
                            <h1 class="title">Adidas</h1>
                            <h3>HIT THE ROAD ANY WHERE AT ANY TIME</h3>
                            <div class="sizes">
                                <button>19</button>
                                <button>29</button>
                                <button class="active">30</button>
                                <button>35</button>
                            </div>
                            <div class="purchase">
                                <button>purchase</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>




            <div class="row">
                <div class="col-3">
                    <img src="/App/Images/OZWEEGO1.jpg" alt="">
                </div>
                <div class="col-3">
                    <img src="/App/Images/Ultra1.jpg" alt="">
                </div>
                <div class="col-3">
                    <img src="/App/Images/Predator1.jpg" alt="">
                </div>
            </div>
        </div>

    </div>

    <!-- Featured products -->

    <div class="small-container">
        <h2 class="title">Featured Products</h2>
        <div class="row">
            <div class="col-4">
                <a href="details.html"><img src="/App/Images/longshirt1.webp" alt="picz"></a>
                <a href="details.html">
                    <h4>flexible longsleeve</h4>
                </a>
                <div class="rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </div>
                <p>$35.00</p>
            </div>

            <div class="col-4">
                <img src="/App/Images/shirt1.webp" alt="picz">
                <h4>confit shirt</h4>
                <div class="rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </div>
                <p>$35.00</p>
            </div>

            <div class="col-4">
                <img src="/App/Images/back1.webp" alt="picz">
                <h4>portable bag</h4>
                <div class="rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </div>
                <p>$35.00</p>
            </div>

            <div class="col-4">
                <img src="/App/Images/back4.webp" alt="picz">
                <h4>mountain bag</h4>
                <div class="rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </div>
                <p>$35.00</p>
            </div>

            <div class="col-4">
                <img src="/App/Images/coat4.webp" alt="picz"/>
                <h4>mountain bag</h4>
                <div class="rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </div>
                <p>$35.00</p>
            </div>

            <div class="col-4">
                <img src="/App/Images/watch3.webp" alt="picz"/>
                <h4>mountain bag</h4>
                <div class="rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </div>
                <p>$35.00</p>
            </div>

            <div class="col-4">
                <img src="/App/Images/nike2.jpg" alt="picz"/>
                <h4>mountain bag</h4>
                <div class="rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </div>
                <p>$35.00</p>
            </div>

            <div class="col-4">
                <img src="/App/Images/boot1.webp" alt="picz">
                <h4>mountain bag</h4>
                <div class="rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </div>
                <p>$35.00</p>
            </div>


        </div>
        <h2 class="title">Latest Arrival</h2>
        <div class="row">
            <div class="col-4">
                <img src="/App/Images/watch1.webp" alt="picz">
                <h4>flexible longsleeve</h4>
                <div class="rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </div>
                <p>$35.00</p>
            </div>

            <div class="col-4">
                <img src="/App/Images/polo1.webp" alt="picz">
                <h4>confit shirt</h4>
                <div class="rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </div>
                <p>$35.00</p>
            </div>

            <div class="col-4">
                <img src="/App/Images/Sportswea1.jpg" alt="picz">
                <h4>portable bag</h4>
                <div class="rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </div>
                <p>$35.00</p>
            </div>

            <div class="col-4">
                <img src="/App/Images/coat1.webp" alt="picz">
                <h4>mountain bag</h4>
                <div class="rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </div>
                <p>$35.00</p>
            </div>
        </div>
    </div>


    <!-- Offer -->

    <div class="offer">
        <div class="small-container">
            <div class="row">
                <div class="col-2">
                    <img src="/App/Images/messi1.jpg" alt="picz" class="offer-img">
   /App             </div>
                <div class="col-2">
                    <p>Only Available on Bluestore</p>
                    <h1>Nemesis</h1>
                    <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus voluptate cupiditate ipsam
                        adipisci esse tenetur assumenda vitae similique optio. Veritatis aspernatur nam pariatur
                        voluptas, soluta qui aut iusto nesciunt quae.</small>
                    <a href="" class="btn">Order now &#8594;</a>
                </div>
            </div>
        </div>
    </div>

    <!-- testimonials -->

    <div class="testimonial">
        <div class="small-container">
            <div class="row">
                <div class="col-3">
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At dolore autem ut optio nulla illum?
                    </p>
                    <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                    </div>
                    <img src="/App/Images/user1.jpeg" alt="picz">
                    <h3>Ammy Tammy</h3>
                </div>

                <div class="col-3">
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At dolore autem ut optio nulla illum?
                    </p>
                    <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                    </div>
                    <img src="/App/Images/user4.jpeg" alt="picz">
                    <h3>Beatrice Mayin</h3>
                </div>

                <div class="col-3">
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At dolore autem ut optio nulla illum?
                    </p>
                    <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                    </div>
                    <img src="/App/Images/user3.jpeg" alt="picz">
                    <h3>Abel Chuar</h3>
                </div>
            </div>
        </div>
    </div>

    <!-- Brands -->

    <div class="brands">
        <div class="small-container">
            <div class="row">
                <div class="col-5">
                    <img src="/App/Images/adidas.webp" alt="pics">
                </div>
                <div class="col-5">
                    <img src="/App/Images/nike.jpg" alt="">
                </div>
                <div class="col-5">
                    <img src="/App/Images/zara.jpg" alt="">
                </div>
                <div class="col-5">
                    <img src="/App/Images/aldo.jpg" alt="">
                </div>
                <div class="col-5">
                    <img src="/App/Images/paypal2.webp" alt="">
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->

    <div class="footer">
        <div class="conatiner">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Download Blue App</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, rerum.</p>
                    <div class="app-logo">
                        <img src="/App/Images/appstore.png" alt="pixs">
                        <img src="/App/Images/playstore.png" alt="pixs">
                    </div>
                </div>
                <div class="footer-col-2">
                    <img src="/App/Images/Logo.png" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, rerum. Lorem ipsum dolor sit amet
                        consectetur.</p>
                </div>
                <div class="footer-col-3">
                    <h3>Useful links</h3>
                    <ul>
                        <li>Coupons</li> 
                        <li>Post</li>
                        <li>Return policy</li>
                        <li>Affiliate</li>
                    </ul>
                </div>
                <div class="footer-col-4">
                    <h3>Follow BLueMarket</h3>
                    <ul>
                        <li>Facebook</li>
                        <li>Instagram</li>
                        <li>Youtube</li>
                        <li>Github</li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="copyright">Copyright 2020 - Paul ndam </p>
        </div>
    </div>


    <script src="index.js"></script>
    <script>
        var MenuItems = document.getElementById('MenuItems')

        MenuItems.style.maxHeight = '0px'

        function menuToggle() {
            if (MenuItems.style.maxHeight == '0px') {
                MenuItems.style.maxHeight = '200px'
            } else {
                MenuItems.style.maxHeight = '0px'
            }
        }
    </script>
</body>

</html>